header.cpw_header {
  text-align: center;
  h1 {
    background-image: url('../../assets/background.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    color: var(--white);
    font-size: 1.4em;
    margin: 0;
    height: 130px;
    line-height: 130px;
    span {
      color: var(--primary-blue);
    }
  }
}