.cpw_table {
  display: grid;
  grid-template-columns: 50px 2fr 100px 80px; /* Columnas que se adaptan automáticamente */
  gap: 8px; /* Espaciado entre elementos */
  align-items: center; /* Alineación vertical */
  padding: 4px;
  cursor: pointer;
  &:hover {
    background-color: var(--secundary-grey);
  }
  &.header {
    border-bottom: 1px solid var(--primary-grey);
  }
  div {
    white-space: nowrap; /* Evita que el texto se corte en múltiples líneas */
    overflow: hidden;
    text-overflow: ellipsis; /* Agrega "..." si el contenido supera el ancho */
  }
  &.body {
    div {
      color: var(--white);
      &.cpw_table_flags {
        width: 40px;
        height: 24px;
        img {
          width: 100%;
          height: 24px;
        }
      }
    }
    .skeleton_box {
      background: linear-gradient(90deg, var(--primary-grey) 25%, var(--secundary-grey) 50%, var(--primary-grey) 75%);
      background-size: 200% 100%;
      animation: skeleton-loading 1.5s infinite linear;
      border-radius: 4px;
      height: 8px;
      width: 80%;
    }
  }
}

.table_pagination {
  text-align: center;
  button {
    background-color: var(--background-grey);
    border: 1px solid var(--primary-grey);
    color: var(--white);
    border-radius: 4px;
    margin: 0 1px;
    min-width: 24px;
    height: 24px;
    cursor: pointer;
    transition: background-color .5s ease-in-out, color .5s ease-in-out;
    span {
      display: none;
    }
    &:disabled {
      cursor: not-allowed;
      color: var(--secundary-grey);
      border-color: var(--secundary-grey);
      transition: background-color .5s ease-in-out, color .5s ease-in-out;
    }
    &.btn_page {
      transition: background-color .5s ease-in-out;
      margin: 0 4px;
      &.active {
        background-color: var(--primary-grey);
        transition: background-color .5s ease-in-out;
      }
    }
  }
  select {
    background-color: var(--background-grey);
    border: 1px solid var(--primary-grey);
    color: var(--white);
    border-radius: 4px;
    margin: 8px 4px;
    min-width: 24px;
    height: 24px;
  }
  .items_of_total { margin-left: 16px;}
}

.error {
  color: var(--error);
}

@keyframes skeleton-loading {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

@media (min-width: 768px) {
  .cpw_table {
    grid-template-columns: 50px 2fr 1fr 1fr 80px; /* Columnas que se adaptan automáticamente */
  }
  .table_pagination {
    button {
      span {
        display: inline;
      }
    }
  }  
}